<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="sample.view.develop.android.dotted.line">
    <application>
        <activity android:name=".DottedLineByJsActivity"/>
        <activity android:name=".DottedLineByNaiveActivity"/>
        <activity android:name=".DottedLineMainActivity"/>
    </application>
</manifest>
